<h2>☆ほうれん草の宇宙旅行達成☆</h2>
<!-- Right-aligned -->
<div class="media">
  <div class="media-body text-right">
    <h4 class="media-heading">しん</h4>
    <p>こうでしょうか？？</p>
   <a href="/spinachall.png" target="_blank"style="color:black;">
          <img src="/spinachall.png" class="img-thumbnail" alt="Lights" width="304" height="236">
        </a>  
        </div>
  <div class="media-right">
    <img src="/sheenr.jpg" class="media-object" style="width:60px">
  </div>
</div>
<hr>

<!-- Left-aligned -->
<div class="row">
  <div class="col-lg-8">
<div class="media">
  <div class="media-left">
    <img src="/sheenl.JPG" class="media-object" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">先生</h4>
    <p>おめでとうございます。ほうれん草の宇宙旅行は無事にゴールしました。</p>
  </div>
</div>
</div>
  <div class="col-lg-4"></div>
</div>
<hr>