<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/english/homepage">英語脳トップ</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">教育論</a></li>
        <li><a href="/sheen/homepage">Sheen</a></li>
        <li><a href="/beginner/homepage">初級編</a></li>
        <li><a href="/intermediate/homepage">中級編</a></li>
        <li><a href="/advanced/homepage">上級編</a></li>
        <li><a href="/master/homepage">マスター編</a></li>
        <li><a href="#">無料体験</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
</br>