<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </script>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Sheen's Renovation</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">このRenovationについて</a></li>
        <li><a href="#">メンバー紹介</a></li>
        <li><a href="#">他のRenovation</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">自己紹介</h3>
  <img src="/sheenface.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>I'm an Mathematician　数学者的発想の生き方</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">略歴</h3>
  <p>動画レッスン絶賛配信中 早稲田大大学院数学科 現在は英語の先生、パソコンの先生をしております。英語を使った活動では京都大学主催の研究集会で自身の数学研究を英語発表、米国ピッツバーグ大学にて研究留学、マレーシアへ通訳経験あり インド人プログラマーと人工知能WebService開発中などがあります。大学は早稲田大、理科大、玉川大に所属した経験があります。教育系からエンジニア、ビジネスまで幅広く学びました。お金からの完全独立をベースとした教育革命と銭湯保全活動を数学者として各地で指導させていただいております。</p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
  <h3 class="margin">活動一覧</h3><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">考えに煮詰まったら</div>
        <div class="panel-body"><blockquote class="twitter-video" data-lang="fr"><p lang="en" dir="ltr">Black water we call you can enjoy here at InariYu 300yen sauna and now on <a href="https://t.co/hUIKQuAMpQ">pic.twitter.com/hUIKQuAMpQ</a></p>&mdash; 銭湯サポーター (@sentohsheen) <a href="https://twitter.com/sentohsheen/status/910071000527548417">19 septembre 2017</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        <div class="panel-footer">銭湯サポーター</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">もう辞書を卒業したい</div>
        <div class="panel-body"><img src="/sheensenglish.JPG" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Sheen's English online</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">自分の世界観をつくるには？</div>
        <div class="panel-body"><img src="/freenation.JPG" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Renovation化理論</div>
      </div>
    </div>
  </div>
</div>
<div class="container">    
  <div class="row">
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">怖いけど気になるどうなっているの？</div>
        <div class="panel-body"><img src="/chatnoir.JPG" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">宗教団体へ乗り込もう</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">いよいよ本物を学ぶ時が来た</div>
        <div class="panel-body"> <div class="embed-responsive embed-responsive-4by3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GqEqLqqzaHc" frameborder="0" allowfullscreen></iframe></div>
        <div class="panel-footer">ますます早稲田</div>
      </div>
    </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">後輩にばかにされたくない</div>
        <div class="panel-body"><img src="/doragon.JPG" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">ドラゴン桜企画</div>
      </div>
    </div>
  </div>
</div>
</div><br>




<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p> 
</footer>

</body>
</html>
