<!DOCTYPE html>
<html>
  <head>
  <title>Sheen</title>
    <style>
    body { 
  padding: 45px 0 0 0;
}
    </style>
        <title>PaperclipTest</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    </br>
    <%= yield %>
  </body>
</html>
